knowledge_graph/research/report/*
opencl/tools-master/*
*.vo
*.glob
*.class
*.jar
*.war
*.ear
*.out
*~
.#*
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.o
*.s
local.properties
.classpath
.settings/
.loadpath
\#*#

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/float/FloatSumError/
/float/fpa-heterogeneous/
/openCl/tools-master/
