knowledge_graph/research/report/*
opencl/tools-master/*
Release/
Release+Asserts/
Debug/
Debug+Asserts/
Output/
.hg/
build/
cscope.*
*~
proposal/
ifloat/
InstableFloat
*.byte
*.log
*.sum
*.out
*.status

*.config

config.h
site.exp

# Site file for llvm-lit
lit.site.cfg

*.vo
*.glob
*.class
*.jar
*.war
*.ear
*.out
*~
.#*
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.o
*.s
*.tar.gz
local.properties
.classpath
.settings/
.loadpath
\#*#

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/float/FloatSumError/
/float/fpa-heterogeneous/
/openCl/tools-master/
/haskell/c2smt
/java/
*.cabal-sandbox*
dist/

/haskell/c2smt
/temp/out.png
/clang-llvm/
/fpa-heterogeneous/
/opencl-fp/
/llvm2.9/
*.so
*.cmi
*.cmx
*.native
_build
_tags
opencl-fp
boxPower
*.so.1
temp
*.cmx
*.cmi
/matlab/matlab
libsvm-3.22/
algorithm/programs/
float/geometry_c/
